body {
    font-family: "Fredoka";
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: #BEFF76;
    padding: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lilita One";
    font-size: 70pt;
    text-align: center;
    color: #DB4FC6;
}

h1 {
    border-style: ridge;
    border-width: 15px;
    border-color: #874DEF;
    padding: 1rem;
    text-shadow: 2px 2px 2px black, 1px 1px 1px black, 8px 6px 5px #FA812F;
}

h2 {
    font-size: 40pt;
    text-shadow: 2px 2px 2px black;
    border: none
}

h2 {
    margin: 0.1em;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

/* Bio Section */

#bio {
    border-style: dotted;
    border-width: 12px;
    border-color: #70D6DA;
} 

section#bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one {
    color: #FA812F;
    text-shadow: -0.7px 0 black, 0 0.7px black, -0.7px 0 black, 0 -0.7px black;
}

.two {
    color: #874DEF;
    text-shadow: -0.7px 0 black, 0 0.7px black, -0.7px 0 black, 0 -0.7px black;
}

/* Hobbies Section */

#hobbies {
    border-style: ridge;
    border-width: 9.5px;
    border-color: #FA812F;
}

section#hobbies {
    display: flex;
    flex-direction: column;
    align-items: center
}

#hobbies ul li {
    color: #874DEF;
    text-align: left;
    text-shadow: -0.7px 0 black, 0 0.7px black, -0.7px 0 black, 0 -0.7px black;

}
#hobbies ul li:nth-child(even) {
    color:#70D6DA;
}

/* Gallery Section */

#gallery {
    border-style: dashed;
    border-width: 8px;
    border-color: #874DEF;
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    font-size: 12pt;
    font-style: italic;
    text-align: center;
    color: #FA812F;
    margin-bottom: 2rem;
}

/* Tablet Size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
        margin-left: 1rem;
    }
}

/* Large Screen Size */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    img {
        height: 100%;
    }

    figure {
        display: block;
    }
}

/* Literature Section */

#lit {
    border-style: groove;
    border-width: 10px;
    border-color: #70D6DA;
}

#lit div {
    color: #FA812F;
    text-shadow: -0.4px 0 black, 0 0.4px black, -0.4px 0 black, 0 -0.4px black;
    font-size: 18pt;
    text-align: left;
    padding: 2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#lit div p {
    padding: 0.3rem;
    clear:both;
}

/* Dropcaps */

#lit div p:first-letter {
    font-family: "Lilita One";
    color:#874DEF;
    text-shadow: -0.8px 0 black, 0 0.8px black, -0.8px 0 black, 0 -0.8px black;
    float: left;
    font-size: 3em;
    padding: .3em;
    line-height: .25;
    border: 6px outset #DB4FC6;
    margin-right: .25em;
}

/* Tablet Size */

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    #lit div {
        max-width: 100%;
        columns: 20rem;
    }

}

/* Footer Section */

.footerone {
    font-family: "Lilita One";
    font-size: 40pt;
    text-align: center;
    color: #FA812F;
    text-shadow: 0 0 2px black, 0 0 2px black, 5px 3px 2px #874DEF; 
}

.footertwo {
    font-family: "Fredoka";
    font-size: 17pt;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 2px black, 0 0 2px black, 4px 3px 2px #DB4FC6;
    color:#70D6DA   
}
