body {
    font-family: "Fredoka";
    font-size: 18pt;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    background-color: #BEFF76;
    outline-style: ridge;
    outline-color: #FA812F;
    outline-width: 8px;
    padding: 10%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Lilita One";
    font-size: 70pt;
    text-align: center;
    color: #DB4FC6;
    border-style: ridge;
    border-width: 15px;
    border-color: #70D6DA;
    outline: outset #874DEF;
    outline-width: 10px;
    padding: 1rem;
}

h1 {
     text-shadow: 2px 2px 2px black, 1px 1px 1px black, 8px 6px 5px #FA812F;
}

section {
    outline: groove;
    outline-color: #DB4FC6;
    outline-width: 12px;
    border-style: dotted;
    border-width: 15px;
    border-color: #70D6DA;
} 

.one {
    color: #FA812F;
    text-shadow: -0.7px 0 black, 0 0.7px black, -0.7px 0 black, 0 -0.7px black;
}

.two {
    color: #874DEF;
    text-shadow: -0.7px 0 black, 0 0.7px black, -0.7px 0 black, 0 -0.7px black;
}

.footerone {
    font-family: "Lilita One";
    font-size: 40pt;
    text-align: center;
    color: #FA812F;
    text-shadow: 0 0 2px black, 0 0 2px black, 5px 3px 2px #874DEF; 
}

.footertwo {
    font-family: "Fredoka";
    font-size: 17pt;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 0 0 2px black, 0 0 2px black, 4px 3px 2px #DB4FC6;
    color:#70D6DA   
}